.offWhite-color-bg {
  background-color: #f3f3f3;
}

.white-color {
  color: white;
}

.primary-color {
  color: #650c76;
}

.primary-color-bg {
  background-color: #650c76;
}

.secondary-color-bg {
  background-color: #0c013d;
}
.secondary-color {
  color: #0c013d;
}
.grey-color {
  color: #f3f3f3;
}
.grey-color-bg {
  background-color: #f3f3f3;
}

.black {
  color: rgb(57, 52, 52);
}

.pink-car {
  background-color: #f2aecc;
}
.yellow-car {
  background-color: #eee6af;
}
.green-car {
  background-color: #a5f3ec;
}
