body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  gap: 20px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
canvas {
  display: block;
  margin: auto;
}

.logo {
  width: 200px;
  margin-bottom: 20px;
}
.side-section {
  border: 5px solid #9233a5;
  border-radius: 10px;
  gap: 20px;
  width: 300px;
  margin: 20px 30px;
}
.game-settings {
  gap: 50px;
}
.game-settings h2 {
  border: 20px;
  text-align: center;
}
.game-settings > div {
  text-align: center;
  padding: 20px;
}

.win-card > button,
.lose-card > button {
  font-size: 25px;
}

.win-card,
.lose-card,
.end-card {
  gap: 50px;
  line-height: 50px;
  text-align: center;
  width: 50%;
  border: 2px solid #f3f3f3;
  font-size: larger;
  padding: 20px;
  border-radius: 5px;
  display: none;
}

button:hover {
  background-color: #372d65;
  border-color: white;
  color: white;
}
