body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  gap: 20px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
canvas {
  display: block;
  margin: auto;
}

.logo {
  width: 200px;
  margin-bottom: 20px;
}
.side-section {
  gap: 20px;
  width: 300px;
  margin: 20px 30px;
}
.game-settings {
  gap: 50px;
}
.game-settings h2 {
  border: 20px;
  text-align: center;
}
.game-settings > div {
  text-align: center;
  padding: 20px;
}

.game-settings > button,
.win-card > button,
.lose-card > button {
  width: 100px;
  padding: 20px;
  height: 50px;
  border-radius: 5px;
}

.win-card,
.lose-card {
  gap: 20pxpx;
  text-align: center;
  width: 100%;
  border: 2px solid #f3f3f3;
  font-stretch: expanded;
  padding: 20px;
  border-radius: 5px;
  display: none;
}
