.navbar-container > img {
  margin-left: 10px;
  padding: 10px;
}

.navbar {
  height: 15vh;
  gap: 55px;
  font-size: 28px;
}

.hero-section {
  height: 85vh;
}

.hero-section > img {
  opacity: 50%;
}

.hero-section > div > p {
  font-size: 70px;
}

.hero-section > div > button {
  font-size: 35px;
}

.hero-item {
  margin-top: 40px;
  gap: 25px;
}

.game-play-description,
.game-play-title {
  padding: 85px 0px 85px 50px;
}

.game-play-title p {
  font-size: 80px;
}
