:root {
    --primary-color: #650C76;
    --secondary-color: #B98EB6; 
    --text-color-light: #D3D1E0; 
}


.tutorial {
    padding: 2em;
    background-color: #f7f8fa;
    text-align: center;
}

.tutorial h2 {
    font-size: 2em;
    color: var(--primary-color);
    margin-bottom: 1em;
}

.tutorial-intro {
    max-width: 600px;
    margin: auto;
    font-size: 1.2em;
    color: #333;
    margin-bottom: 1.5em;
}

.tutorial-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: auto;
}

.tutorial-item {
    background-color: #e8f1ff;
    padding: 1.5em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.tutorial-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 0.5em;
}

.tutorial-item h3 {
    font-size: 1.5em;
    color: var(--primary-color);
    margin-bottom: 0.5em;
}

.tutorial-item p {
    color: #333;
    line-height: 1.6;
}
